#grid {
	display           :  table;
	width             :  100%;
	max-width         :  1500px;
	background-color  :  gray;
	border            :  solid black 0.5px;
}

.row {
	height  :  175px;
	width   :  100%;
}

[class*='col-'] {
	display             :  inline-block;
	float               :  left;
	width               :  25%;
	height              :  100%;
	border              :  solid black 0.5px;
	overflow            :  auto;
	-webkit-box-sizing  :  border-box;
        -moz-box-sizing     :  border-box;
        box-sizing          :  border-box;
}

h2 {
	text-align: center;
	margin-top: 25%;
}

@media screen and (max-width: 850px) {

  [class*='col-'] {
    width: 50%;
  }

}
